$color_1: white;

footer {
	background-image: url("../img/fondofoot.png");
	padding: 60px;
	padding-bottom: 2vw;
}
.iconos-footer {
	padding: 0.5rem 5rem 0rem 5rem;
	height: 100%;
	text-align: center;
	a {
		padding: 0rem 2rem 0rem 2rem;
		transition: all 1s ease;
	}
}
.iconosInstagram {
	width: 70px;
	transition: all 1s ease;
	&:hover {
		transform: scale(1.2);
		transform: rotate(10deg);
		content: url('../img/ico-instagram-hover.png');
	}
}
.iconosWhatsapp {
	width: 70px;
	transition: all 1s ease;
	&:hover {
		transform: scale(1.2);
		transform: rotate(10deg);
		content: url('../img/ico-whatsapp-hover.png');
	}
}
.iconosFacebook {
	width: 70px;
	transition: all 1s ease;
	&:hover {
		transform: scale(1.2);
		transform: rotate(-10deg);
		content: url('../img/ico-facebook-hover.png');
	}
}
.iconosYoutube {
	width: 70px;
	transition: all 1s ease;
	&:hover {
		transform: scale(1.2);
		transform: rotate(-10deg);
		content: url('../img/ico-youtube-hover.png');
	}
}
.iconos {
	&:hover {
		transform: scale(1.2);
		transform: rotate(10deg);
	}
}
.textofooter {
	color: $color_1;
	text-align: center;
	margin-top: 2rem;
	font-size: 30px;
	text-shadow: 2px 2px 2px rgb(0, 0, 0);
    font-family: 'Raleway', sans-serif;
}