$background-color_1: aliceblue;

@media screen and (max-width: 1500px) {
	.galeria-secundarios-uno {
		width: 100%;
		display: block;
		margin: auto;
	}
	.galeria-secundarios-dos {
		width: 100%;
		display: block;
		margin: auto;
	}
	.galeria-secundarios-tres {
		width: 100%;
		display: block;
		margin: auto;
	}
	.galeria-secundarios-cuatro {
		width: 100%;
		display: block;
		margin: auto;
	}
	.contenedorimagenes {
		margin: 5vw;
		width: auto;
		justify-content: center;
		align-content: center;
		grid-template-areas: "imgSecundario1" "imgSecundario2" "imgSecundario3" "imgSecundario4";
		grid-column-gap: 0.5vw;
		grid-row-gap: 0.5vw;
	}
	.imagenInicio {
		background-image: url("../img/cabaña1500.png");
	}
}

@media screen and (max-width: 1100px) {
	.imagenInicio {
		background-image: url("../img/cabaña1100.png");
		margin-top: -4rem;
		width: 100%;
		height: 590px;
	}
	.imgsServicios{
		width: 100%;
		height: 80rem;
	}
	.div-formulario {
		padding: 0;
	}
}



@media screen and (max-width: 991px) {
	.logo {
			display: block;
			text-align: center;
			align-items: center;
		&:hover {
			transform: none;
		}
	}
	.diseñonavico{
		width: 100%;
		margin: auto;
	}
	.diseñonav{
		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(5px);
		width: 100%;
		margin: 0 auto;
	}
	.diseñoII{
		width: 100%;
		margin: 0 auto;
	}

}



@media screen and (max-width: 750px) {
	.contenedor{
		padding: 3rem 1rem 3rem 1rem;
	}
	.iconosInstagram {
		display: block;
		margin: 0 auto;
	}
	.iconosWhatsapp {
		display: block;
		margin: 0 auto;
	}
	.iconosFacebook {
		display: block;
		margin: 0 auto;
	}
	.iconosYoutube {
		display: block;
		margin: 0 auto;
	}
	footer {
		background-image: url("../img/fondofoot750.png");
	}
	.contenedor {
		margin: 0rem 1rem 0vw 1rem;
		width: auto;
	}
	.imagen-comollego {
		width: 95%;
		height: 100vw;
	}
	.botonEnviar {
		height: 3rem;
		width: 6rem;
		font-size: 1.3rem;
		background-color: $background-color_1;
		margin-top: 4rem;
	}
}
@media screen and (max-width: 500px) {
	.imagenInicio {
		background-image: url("../img/cabaña500.png");
		margin-top: -4rem;
		width: 100%;
		height: 500px;
	}
}
