*{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

body{
    background-color: #C0B298;
}

.imagenInicio {
	background-image: url("../img/cabaña.png");
	margin-top: -4rem;
	width: 100%;
	height: 590px;
}

.imgsServicios{
    width: 80%;
    height: 40vw;
    text-align: center;
    margin: 0 auto;
    transition: all 0.5s ease;
}

.imgsServicios:hover {
    transform: scale(1.008);
}

main {
	text-align: center;
}

.contenedor{
    margin: 3rem 2rem 0vw 2rem;
    padding: 3rem 4rem 3rem 4rem;
    width: auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), -2px -2px 4px rgba(255, 255, 255, 0.3);
    background-color: #bbac8f;
}

.titulo-principal{
    margin: 20px 0 50px 0;
    font-weight: 600;
    color: #4a2708;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

.titulo-secundario{
    font-size: 30px;
    font-weight: 400;
    color: brown;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.texto-secundario{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 8rem;
}

.cada-servicio{
    margin-top: 10rem;
}

.div-formulario{
    padding: 0 5rem 0 5rem;
    align-content: center;
    text-align: center;
    display: block;
}

.componenteform{
    margin-top: 2rem;
}

.label-nombre{
    width: 200px;
}

.botonEnviar{
    height: 3rem;
    width: 6rem;
    font-size: 1.3rem;
    background-color: aliceblue;
    margin-top: 2rem;
}

h1{
    font-size: 24px;
    font-weight: 100;
}

.imagen-comollego{
    width: 90%;
}

.texto-como-llego{
    margin-top: 2vw;
    margin-bottom: 0vw;

}

/* TEMA GALERIA IMÁGENEEEEEEEEES!!!!!!!!!!!!!!*/
.galeria-principal{
    width: 100%;
    height: 40vw;
    transition: all 0.5s ease;
    grid-area: imgPrincipal;
    display: block; 
    margin: auto;
}

.galeria-secundarios-uno{
    width: 700px;
    transition: all 0.5s ease;
    grid-area: imgSecundario1;    
}

.galeria-secundarios-dos{
    width: 700px;
    transition: all 0.5s ease;
    grid-area: imgSecundario2;
}

.galeria-secundarios-tres{
    width: 700px;
    transition: all 0.5s ease;
    grid-area: imgSecundario3;
}

.galeria-secundarios-cuatro{
    width: 700px;
    transition: all 0.5s ease;
    grid-area: imgSecundario4;
}

.contenedorimagenes{
    margin: 2vw 5vw 2vw 5vw;
    width: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-areas:
                         "imgSecundario1 imgSecundario2"
                         "imgSecundario3 imgSecundario4";
    grid-column-gap: 0.5vw;
    grid-row-gap: 0.5vw;
}

.galeria-principal:hover , .galeria-secundarios-uno:hover, .galeria-secundarios-dos:hover, .galeria-secundarios-tres:hover, .galeria-secundarios-cuatro:hover{
    transform: scale(1.005);
}


/* TEMA CARROUSEL!!!!!!!!!!!!!!*/

.imagenes-carrousel{
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.todo-carrousel{
    width: 100%;
}